.button#play {
    -fx-background-image: url('/img/btn_blue.png');
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-size: 217,55;
    -fx-background-position: center;
}

.button#play:armed {
    -fx-background-image: url('/img/btn_blue_pressed.png');
}

.button#exit {
    -fx-background-image: url('/img/btn_coral.png');
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-size: 217,55;
    -fx-background-position: center;
}

.button#exit:armed {
    -fx-background-image: url('/img/btn_coral_pressed.png');
}

#username {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-prompt-text-fill: #c4c4c4;
}

#ip {
    -fx-border-color: transparent;
    -fx-background-size: 233,126;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-prompt-text-fill: #c4c4c4;
    -fx-background-repeat: no-repeat;
}

#boardButton {
    -fx-background-color: transparent;
}
#loading {
    -fx-background-color: transparent;
    -fx-background-image: url('/img/loading.png');
    -fx-background-position: center;
}

.button#skip {
    -fx-background-image: url('/img/btn_skip.png');
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-size: 217,55;
    -fx-background-position: center;
}

.button#skip:armed {
    -fx-background-image: url('/img/btn_skip_pressed.png');
}

.button#next {
    -fx-background-image: url('/img/btn_next.png');
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-size: 217,55;
    -fx-background-position: center;
}

.button#next:armed {
    -fx-background-image: url('/img/btn_next_pressed.png');
}